@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

@media (min-width: 1024px) {
	.recipe-card > .recipe-info {
		transform: translate(0, 5rem);
	}
}

.recipe-card:hover .recipe-info {
	transform: translate(0);
}
